{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
{% if user.is_authenticated %}
d
<h1>Create Application</h1>
<br>

<div class="form-group">

  <form  method="post" enctype='multipart/form-data' >
    {% csrf_token %}
    {{ form.as_p }}
    <button class = "btn btn-secondary">Post</button>


</div>

<h3>current uni:   {{user.university}}</h3>
<h3>current student: {{user.student}}</h3>

<script type="text/javascript">
     var user = "{{ user.id }}";
     document.getElementById("use").value = user;
</script>

<!-- </form> -->

{% else %}
  Please Log in first.
{% endif %}
{% endblock %}
