<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unis Website</title>

  {% bootstrap_css %}

  {% bootstrap_javascript %}


   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

   {% block css %}
   <link rel="stylesheet" href="{% static 'css/master.css'%}">
   {% endblock %}
  </head>
  <body>


  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Unifinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Settings</a></li>
                {% if user.student %}
                <li><a class="dropdown-item" href="{% url 'accounts:edit_profile_page' user.student.id %}">Edit Profile Page</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:show_profile_page' user.student.id %}">Show Profile Page</a></li>
                {% elif user.university %}
                  <li><a class="dropdown-item" href="{% url 'accounts:edit_university_profile_page' user.university.id %}">Edit University Profile Page</a></li>
                  <li><a class="dropdown-item" href="{% url 'accounts:show_university_profile_page' user.university.id %}">Show University Profile Page</a></li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:create_student_profile_page' %}">Create Student Profile Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:create_university_profile_page' %}">Create University Profile Page</a>
                </li>
                {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup'%}">Sign Up</a>
        </li>
        {% endif %}
  </nav>

    <div class="container mycontent">

    {% block content %}

    {% endblock %}

    </div>
  </body>
</html>
