{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Unis site</h1>


    <a href="{% url 'university-list' %}">List of Our Universities</a>
    <br>
    {% for o in students %}
      {% if  o.user  ==  user  %}
        <a href="{% url 'application-list' %}">List of your Applications</a>
      {% endif %}
    {% endfor %}
    <h3>To test profile</h3>
    {% for o in students %}
        <a href="{% url 'accounts:show_profile_page' o.id %}">{{o}}</a><hr>
    {% endfor %}

{% endblock %}
