{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == university.user.id %}


<h1>Edit Profile Page </h1>
<br>

<div class="form-group">

  <form  method="post" enctype='multipart/form-data' >
    {% csrf_token %}
    {{ form.as_p }}
    <button class = "btn btn-secondary">Update Profile Page</button>


</div>

<script type="text/javascript">
     var user = "{{ user.id }}";
     document.getElementById("use").value = user;
</script>

<!-- </form> -->

{% else %}
You are not the correct user to edit this page
{% endif %}
{% else %}
  Please Log in first.
{% endif %}
{% endblock %}
